table.tv-table {
	margin-bottom: 0;
	width: 900px;
    border: 1px solid #ddd;
    border-collapse: collapse;
    border-spacing: 0;
    box-sizing: border-box;
    font-family: Helvetica Neue,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    color: #333;
}

table.tv-table td {
    border: 1px solid #ddd;
}