

.header-utility-icon a {display: inline-block; position: relative;}

.flag {
	width: 0;
	height: 0;
	position: absolute;
	top: -17px;
	left: 0;
}


.flag:after {
	content: '';
	width: 0;
	height: 0;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	border-style: solid;
	border-width: 8px 0 8px 25px;
	border-color: transparent transparent transparent #F25151;
}

.flag:before {
	content: '';
	width: 0;
	height: 0;
	display: block;
	position: absolute;
	top: -3px;
	left: -2px;
	border-style: solid;
	border-width: 11px 0 11px 32px;
	border-color: transparent transparent transparent #FFFFFF;
}
	

.flag--y:after { border-color: transparent transparent transparent #F9F04B; }
.flag--g:after { border-color: transparent transparent transparent #6AE551; }

.main-single .blocks .btn-primary {
	color: #fff;
}

.main-single .blocks .btn-primary:hover {
	color: #fff;
	text-decoration: none;
}

.blocks img {
    max-width: 100%;
    height: auto;
}

.main-class-details-wrapper {
	max-width: 620px;
	margin: auto;
}



@media (min-width: 768px) {
	.calendar-event-details {
		width: 160px;
		display: flex;
		flex-direction: column;
	}
}

@media (max-width: 992px) {
	.block-cta-link-content {
		max-width: 300px;
	}
}

.calendar-event-cta {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar-event-time > div {
    flex-grow: 1;
}

.calendar-cell {
    width: 14.28%;
}

@media (max-width: 768px) {
	.main-class-details-title {
		font-size: 24px;
	}
}

@media (min-width: 992px){
	.block-hero-content {

	}
}

@media (max-width: 992px){
	.block-hero-content-wrapper {
		padding: 15px;
	}
}

@media (max-width: 576px){
	.header-utility-item a {
		padding: 10px 14px;
	}
	.header-utility-item a svg {
		width: 13px;
		margin: 0;
		top: 0;
	}
	.header-utility-item--map a svg {
		width: 10px;
	}
}

.main-single .main-single-content a {
	color: #0292be;
	text-decoration: underline;
}

.calendar-utility-search a {
	padding: 10px 40px 8px;
}

.block-news-post-title {
	font-size: 16px;
}

.block-news-post-body {
	font-size: 14px;
}

.block-news-post a {
	text-decoration: none !important;
}

.block-news-post-title {
    font-size: 16px;
}

.block-news-post-body {
    font-size: 14px;
}

.block-news-post a,
.block-feature-card a {
    text-decoration: none !important;
}

.block-feature-card {
	box-shadow: none;
	border-radius: 4px;
}

.nav-desktop-dropdown {
	height: 300px;
}

.hero-wave svg {
	width: auto;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
}

h2 { 
	color: #00507D;
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	display: inline-block;
	position: relative;
	margin: 0 0 20px;
	padding: 0 0 3px;
}

.sidebar-item-link.active a {
	color: #f25151;
}

.main-single .main-single-content a {
	color: #f25151;
	text-decoration: underline;
}

.header-utility-search {
	position: relative;
	z-index: 22;
}

.header-utility-search-dropdown {
	width: 300px;
	font-size: 12px;
	background: #00507d;
	top: 100%;
	right: -2px;
	position: absolute;
	padding: 10px;
	display: none;
	z-index: 22;
}

.header-utility-search-dropdown.show {
	display: block;
}

.header-utility-search-dropdown input {
 font-size: 12px;
}

.header-utility-search-dropdown .site-search-button {
	font-size: 12px;
	padding: 8px 14px;
	color: #00507d;
	background-color: #ffd85a;
}

@media (min-width: 1300px) {
	.container, .container-sm, .container-md, .container-lg, .container-xl {
		max-width: 1300px;
	}
}

@media (min-width: 992px) {
	.nav .nav-logo {
		max-width: 280px;
		margin: 12px 0 12px 60px;
	}
}

@media (min-width: 1300px) {
	.nav .cta a {
		font-size: 21px;
		margin: 0 60px 0 15px;
		padding: 11px 18px 11px;
	}
	.nav .nav-item {
		height: 95px;	/* jcole */
	}
}

.main-cta-item {
	color: #fff !important;
	text-decoration: none !important;
}

.block-hero-content {
	white-space: nowrap;
}

.sidebar-item-link a {
	font-size: 16px;
	padding: 9px 0;
}

.page-title {
	margin: 0 0 30px 0 !important;
}

.main-single-wrapper {
	margin: 0 0 30px;
}

.main-class-ro-item,
.main-class-details-cal,
.main-class-details-list-item-mobile {
	font-size: 16px;
}

.main-search .block-news-post-title,
.main-search .block-news-post-body {
	font-size: 16px;
}

.calendar-cell-prev .calendar-event {
	opacity: .45;
}

.main-class-ro-body a {
	color: #f25151;
}

.calendar-utility-btn a {
	font-size: 16px;
}

.calendar-utility-search input {
	font-size: 16px;
}

.calendar-utility-search a {
	font-size: 16px;
}

.calendar-utility-search input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 16px;
}
.calendar-utility-search input::-moz-placeholder { /* Firefox 19+ */
  font-size: 16px;
}
.calendar-utility-search input:-ms-input-placeholder { /* IE 10+ */
  font-size: 16px;
}
.calendar-utility-search input:-moz-placeholder { /* Firefox 18- */
  font-size: 16px;
}

.pop-event-description a {
	color: #fff;
	display: inline-block;
	background: #0292be;
	margin: 10px 0 0;
	padding: 10px 20px;
	border-radius: 5px;
}

.calendar-event-body {
	font-size: 16px;
}

.calendar-options-cat {
	font-size: 16px;
}

.main-cta-item span {
	font-size: 16px;
}

.calendar-event-time span {
	font-size: 16px;
}

.calendar-event-date,
.calendar-event-time {
	font-size: 12px;
}

.calendar-event-cta a {
	font-size: 20px;
}

.main-cta-item {
	font-size: 22px;
}

.calendar-event-title a {
	font-size: 24px;
}

.calendar-event {
	font-size: 14px;
}

.pop-event-title {
	font-size: 24px;
}

.pop-event {
	font-size: 16px;
}

.nav-desktop-dropdown-learn {
	padding: 30px 30px 0;
}

.event-more-text {
	color: #f25151;
	font-size: 20px;
	margin: 15px 0 0;
}

svg:not(:root).svg-inline--fa {
	overflow: visible
}

.svg-inline--fa {
	display: inline-block;
	font-size: inherit;
	height: 1em;
	overflow: visible;
	vertical-align: -.125em
}

.svg-inline--fa.fa-lg {
	vertical-align: -.225em
}

.svg-inline--fa.fa-w-1 {
	width: .0625em
}

.svg-inline--fa.fa-w-2 {
	width: .125em
}

.svg-inline--fa.fa-w-3 {
	width: .1875em
}

.svg-inline--fa.fa-w-4 {
	width: .25em
}

.svg-inline--fa.fa-w-5 {
	width: .3125em
}

.svg-inline--fa.fa-w-6 {
	width: .375em
}

.svg-inline--fa.fa-w-7 {
	width: .4375em
}

.svg-inline--fa.fa-w-8 {
	width: .5em
}

.svg-inline--fa.fa-w-9 {
	width: .5625em
}

.svg-inline--fa.fa-w-10 {
	width: .625em
}

.svg-inline--fa.fa-w-11 {
	width: .6875em
}

.svg-inline--fa.fa-w-12 {
	width: .75em
}

.svg-inline--fa.fa-w-13 {
	width: .8125em
}

.svg-inline--fa.fa-w-14 {
	width: .875em
}

.svg-inline--fa.fa-w-15 {
	width: .9375em
}

.svg-inline--fa.fa-w-16 {
	width: 1em
}

.svg-inline--fa.fa-w-17 {
	width: 1.0625em
}

.svg-inline--fa.fa-w-18 {
	width: 1.125em
}

.svg-inline--fa.fa-w-19 {
	width: 1.1875em
}

.svg-inline--fa.fa-w-20 {
	width: 1.25em
}

.svg-inline--fa.fa-pull-left {
	margin-right: .3em;
	width: auto
}

.svg-inline--fa.fa-pull-right {
	margin-left: .3em;
	width: auto
}

.svg-inline--fa.fa-border {
	height: 1.5em
}

.svg-inline--fa.fa-li {
	width: 2em
}

.svg-inline--fa.fa-fw {
	width: 1.25em
}

.fa-layers svg.svg-inline--fa {
	bottom: 0;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 0
}

.fa-layers {
	display: inline-block;
	height: 1em;
	position: relative;
	text-align: center;
	vertical-align: -.125em;
	width: 1em
}

.fa-layers svg.svg-inline--fa {
	-webkit-transform-origin: center center;
	transform-origin: center center
}

.fa-layers-counter, .fa-layers-text {
	display: inline-block;
	position: absolute;
	text-align: center
}

.fa-layers-text {
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transform-origin: center center;
	transform-origin: center center
}

.fa-layers-counter {
	background-color: #ff253a;
	border-radius: 1em;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: #fff;
	height: 1.5em;
	line-height: 1;
	max-width: 5em;
	min-width: 1.5em;
	overflow: hidden;
	padding: .25em;
	right: 0;
	text-overflow: ellipsis;
	top: 0;
	-webkit-transform: scale(.25);
	transform: scale(.25);
	-webkit-transform-origin: top right;
	transform-origin: top right
}

.fa-layers-bottom-right {
	bottom: 0;
	right: 0;
	top: auto;
	-webkit-transform: scale(.25);
	transform: scale(.25);
	-webkit-transform-origin: bottom right;
	transform-origin: bottom right
}

.fa-layers-bottom-left {
	bottom: 0;
	left: 0;
	right: auto;
	top: auto;
	-webkit-transform: scale(.25);
	transform: scale(.25);
	-webkit-transform-origin: bottom left;
	transform-origin: bottom left
}

.fa-layers-top-right {
	right: 0;
	top: 0;
	-webkit-transform: scale(.25);
	transform: scale(.25);
	-webkit-transform-origin: top right;
	transform-origin: top right
}

.fa-layers-top-left {
	left: 0;
	right: auto;
	top: 0;
	-webkit-transform: scale(.25);
	transform: scale(.25);
	-webkit-transform-origin: top left;
	transform-origin: top left
}

.fa-lg {
	font-size: 1.3333333333em;
	line-height: .75em;
	vertical-align: -.0667em
}

.fa-xs {
	font-size: .75em
}

.fa-sm {
	font-size: .875em
}

.fa-1x {
	font-size: 1em
}

.fa-2x {
	font-size: 2em
}

.fa-3x {
	font-size: 3em
}

.fa-4x {
	font-size: 4em
}

.fa-5x {
	font-size: 5em
}

.fa-6x {
	font-size: 6em
}

.fa-7x {
	font-size: 7em
}

.fa-8x {
	font-size: 8em
}

.fa-9x {
	font-size: 9em
}

.fa-10x {
	font-size: 10em
}

.fa-fw {
	text-align: center;
	width: 1.25em
}

.fa-ul {
	list-style-type: none;
	margin-left: 2.5em;
	padding-left: 0
}

.fa-ul>li {
	position: relative
}

.fa-li {
	left: -2em;
	position: absolute;
	text-align: center;
	width: 2em;
	line-height: inherit
}

.fa-border {
	border: solid .08em #eee;
	border-radius: .1em;
	padding: .2em .25em .15em
}

.fa-pull-left {
	float: left
}

.fa-pull-right {
	float: right
}

.fa.fa-pull-left, .fab.fa-pull-left, .fal.fa-pull-left, .far.fa-pull-left, .fas.fa-pull-left {
	margin-right: .3em
}

.fa.fa-pull-right, .fab.fa-pull-right, .fal.fa-pull-right, .far.fa-pull-right, .fas.fa-pull-right {
	margin-left: .3em
}

.fa-spin {
	-webkit-animation: fa-spin 2s infinite linear;
	animation: fa-spin 2s infinite linear
}

.fa-pulse {
	-webkit-animation: fa-spin 1s infinite steps(8);
	animation: fa-spin 1s infinite steps(8)
}

@-webkit-keyframes fa-spin {
	0% {
	  -webkit-transform: rotate(0);
	  transform: rotate(0)
	}

	100% {
	  -webkit-transform: rotate(360deg);
	  transform: rotate(360deg)
	}
}

@keyframes fa-spin {
	0% {
	  -webkit-transform: rotate(0);
	  transform: rotate(0)
	}

	100% {
	  -webkit-transform: rotate(360deg);
	  transform: rotate(360deg)
	}
}

.fa-rotate-90 {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg)
}

.fa-rotate-180 {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg)
}

.fa-rotate-270 {
	-webkit-transform: rotate(270deg);
	transform: rotate(270deg)
}

.fa-flip-horizontal {
	-webkit-transform: scale(-1, 1);
	transform: scale(-1, 1)
}

.fa-flip-vertical {
	-webkit-transform: scale(1, -1);
	transform: scale(1, -1)
}

.fa-flip-both, .fa-flip-horizontal.fa-flip-vertical {
	-webkit-transform: scale(-1, -1);
	transform: scale(-1, -1)
}

:root .fa-flip-both, :root .fa-flip-horizontal, :root .fa-flip-vertical, :root .fa-rotate-180, :root .fa-rotate-270, :root .fa-rotate-90 {
	-webkit-filter: none;
	filter: none
}

.fa-stack {
	display: inline-block;
	height: 2em;
	position: relative;
	width: 2.5em
}

.fa-stack-1x, .fa-stack-2x {
	bottom: 0;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 0
}

.svg-inline--fa.fa-stack-1x {
	height: 1em;
	width: 1.25em
}

.svg-inline--fa.fa-stack-2x {
	height: 2em;
	width: 2.5em
}

.fa-inverse {
	color: #fff
}

.sr-only {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px
}

.sr-only-focusable:active, .sr-only-focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto
}

.svg-inline--fa .fa-primary {
	fill: var(--fa-primary-color, currentColor);
	opacity: 1;
	opacity: var(--fa-primary-opacity, 1)
}

.svg-inline--fa .fa-secondary {
	fill: var(--fa-secondary-color, currentColor);
	opacity: .4;
	opacity: var(--fa-secondary-opacity, .4)
}

.svg-inline--fa.fa-swap-opacity .fa-primary {
	opacity: .4;
	opacity: var(--fa-secondary-opacity, .4)
}

.svg-inline--fa.fa-swap-opacity .fa-secondary {
	opacity: 1;
	opacity: var(--fa-primary-opacity, 1)
}

.svg-inline--fa mask .fa-primary, .svg-inline--fa mask .fa-secondary {
	fill: #000
}

.fad.fa-inverse {
	color: #fff
}

.tooltip-table td{
	font-weight: 100;
	font-size: 0.8em;
	padding: 10px
}

th.header {
	padding: 0 4px;
}